AddDefaultCharset utf-8
DefaultLanguage fr-FR

# Prevent directory browsing (don't list all files in a directory without a default document)
# https://htaccessbook.com/what-is-options-all/
<IfModule mod_autoindex.c>
  Options All -Indexes
</IfModule>

# Prevent robots.txt file indexing
<Files ~ "robots\.txt$">
  Header set X-Robots-Tag "noindex"
</Files>

# Add file types
AddType x-font/otf .otf
AddType x-font/ttf .ttf
AddType x-font/eot .eot
AddType x-font/woff .woff
AddType x-font/woff2 .woff2
AddType text/javascript .js

# Gzip compression
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE x-font/ttf
  AddOutputFilterByType DEFLATE x-font/otf
  AddOutputFilterByType DEFLATE x-font/eot
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE application/pdf
</IfModule>

# Browser caching
<IfModule mod_expires.c>
  # Enable expirations
  ExpiresActive On

  # Default directive
  ExpiresDefault "now plus 1 year"

  ExpiresByType image/gif "now plus 1 year"
  ExpiresByType image/jpeg "now plus 1 year"
  ExpiresByType image/png "now plus 1 year"
  ExpiresByType text/css "now plus 1 year"
  ExpiresByType text/javascript "now plus 1 year"
  ExpiresByType application/javascript "now plus 1 year"
  ExpiresByType image/svg+xml "now plus 1 year"
  ExpiresByType x-font/otf "now plus 1 year"
  ExpiresByType x-font/ttf "now plus 1 year"
  ExpiresByType x-font/eot "now plus 1 year"
  ExpiresByType x-font/woff "now plus 1 year"
  ExpiresByType x-font/woff2 "now plus 1 year"
  ExpiresByType image/x-icon "now plus 1 year"
</IfModule>

# Sécurity (cf. Dareboost)
<IfModule mod_headers.c>

  # Désactiver la détection automatique du type des ressources
  Header always set X-Content-Type-Options "nosniff"

  # Bloquer la totalité du contenu lorsqu'une attaque XSS est suspectée
  Header always set X-XSS-Protection "1; mode=block"

  # Anti-attaques du type "clickjacking"
  # SAMEORIGIN value to allow WordPress and plugins updates
  Header always set X-FRAME-OPTIONS "SAMEORIGIN"

  # Politique de sécurité sur la provenance des ressources CSP
  #Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; base-uri 'self';"
</IfModule>

# Redirections
<IfModule mod_rewrite.c>
  Options +FollowSymLinks
	RewriteEngine On
	RewriteBase /

  # French URLs
  RedirectPermanent /fr/ http://rgaa.tanaguru.com/
  RedirectPermanent /fr/mentions.html http://rgaa.tanaguru.com/mentions.html

  RedirectPermanent /fr/rgaa4/ http://rgaa.tanaguru.com/rgaa4-criteres.html
  RedirectPermanent /fr/rgaa4/base.html http://rgaa.tanaguru.com/rgaa4-base.html
  RedirectPermanent /fr/rgaa4/cas-particuliers.html http://rgaa.tanaguru.com/rgaa4-criteres.html
  RedirectPermanent /fr/rgaa4/criteres.html http://rgaa.tanaguru.com/rgaa4-criteres.html
  RedirectPermanent /fr/rgaa4/glossaire.html http://rgaa.tanaguru.com/rgaa4-glossaire.html
  RedirectPermanent /fr/rgaa4/notes-techniques.html http://rgaa.tanaguru.com/rgaa4-criteres.html
  RedirectPermanent /fr/rgaa4/references.html http://rgaa.tanaguru.com/rgaa4-references.html
  RedirectPermanent /fr/rgaa4/mentions.html http://rgaa.tanaguru.com/mentions.html

  RedirectPermanent /fr/rgaa3/ http://rgaa.tanaguru.com/rgaa3-criteres.html
  RedirectPermanent /fr/rgaa3/base.html http://rgaa.tanaguru.com/rgaa3-base.html
  RedirectPermanent /fr/rgaa3/cas-particuliers.html http://rgaa.tanaguru.com/rgaa3-cas-particuliers.html
  RedirectPermanent /fr/rgaa3/criteres.html http://rgaa.tanaguru.com/rgaa3-criteres.html
  RedirectPermanent /fr/rgaa3/glossaire.html http://rgaa.tanaguru.com/rgaa3-glossaire.html
  RedirectPermanent /fr/rgaa3/notes-techniques.html http://rgaa.tanaguru.com/rgaa3-notes-techniques.html
  RedirectPermanent /fr/rgaa3/references.html http://rgaa.tanaguru.com/rgaa3-references.html
  RedirectPermanent /fr/rgaa3/mentions.html http://rgaa.tanaguru.com/mentions.html

  RedirectPermanent /fr/base.html http://rgaa.tanaguru.com/rgaa3-base.html
  RedirectPermanent /fr/cas-particuliers.html http://rgaa.tanaguru.com/rgaa3-cas-particuliers.html
  RedirectPermanent /fr/criteres.html http://rgaa.tanaguru.com/rgaa3-criteres.html
  RedirectPermanent /fr/glossaire.html http://rgaa.tanaguru.com/rgaa3-glossaire.html
  RedirectPermanent /fr/notes-techniques.html http://rgaa.tanaguru.com/rgaa3-notes-techniques.html
  RedirectPermanent /fr/references.html http://rgaa.tanaguru.com/rgaa3-references.html

  # English URLs
  RedirectPermanent /en/rgaa3/ http://rgaa.tanaguru.com/en/rgaa3-criteria.html
  RedirectPermanent /en/rgaa3/base.html http://rgaa.tanaguru.com/en/rgaa3-baseline.html
  RedirectPermanent /en/rgaa3/cas-particuliers.html http://rgaa.tanaguru.com/en/rgaa3-particular-cases.html
  RedirectPermanent /en/rgaa3/criteres.html http://rgaa.tanaguru.com/en/rgaa3-criteria.html
  RedirectPermanent /en/rgaa3/glossaire.html http://rgaa.tanaguru.com/en/rgaa3-glossary.html
  RedirectPermanent /en/rgaa3/notes-techniques.html http://rgaa.tanaguru.com/en/rgaa3-technical-notes.html
  RedirectPermanent /en/rgaa3/references.html http://rgaa.tanaguru.com/en/rgaa3-references.html
  RedirectPermanent /en/rgaa3/mentions.html http://rgaa.tanaguru.com/en/legal-notice.html

  RedirectPermanent /en/base.html http://rgaa.tanaguru.com/en/rgaa3-baseline.html
  RedirectPermanent /en/cas-particuliers.html http://rgaa.tanaguru.com/en/rgaa3-particular-cases.html
  RedirectPermanent /en/criteres.html http://rgaa.tanaguru.com/en/rgaa3-criteria.html
  RedirectPermanent /en/glossaire.html http://rgaa.tanaguru.com/en/rgaa3-glossary.html
  RedirectPermanent /en/notes-techniques.html http://rgaa.tanaguru.com/en/rgaa3-technical-notes.html
  RedirectPermanent /en/references.html http://rgaa.tanaguru.com/en/rgaa3-references.html
  RedirectPermanent /en/mentions.html http://rgaa.tanaguru.com/en/legal-notice.html
</IfModule>
